{
    "twitch_channel": ">>> YOUR CHANNEL HERE <<<",
    "twitch_bot_name": ">>> YOUR BOT's NAME HERE <<<",
    "twitch_bot_oauth": ">>> YOUR BOT'S GENERATED OAUTH TOKEN HERE <<<",
    "twitch_host": "irc.twitch.tv",
    "twitch_port": 6667,
    "twitch_buffer_size": 2048,
    "twitch_chat_refresh_delay" : 1,
    "servers" : [
        {
            "name" : "Pandanet",
            "pattern" : "gopanda",
            "crop_left" : 18.6,
            "crop_right" : 37.4,
            "crop_top" : 14.5,
            "crop_bottom" : 10.3,
            "i_col" : false,
            "reversed_rows" : true
        },
        {
            "name" : "Tygem",
            "pattern" : "tygem baduk",
            "crop_left" : 13.3,
            "crop_right" : 31.5,
            "crop_top" : 1.2,
            "crop_bottom" : 4.2,
            "i_col" : true,
            "reversed_rows" : false
        },
        {
            "name" : "Foxxy",
            "pattern" : "expert room",
            "crop_left" : 9.9,
            "crop_right" : 37.1,
            "crop_top" : 3.8,
            "crop_bottom" : 8.0,
            "i_col" : true,
            "reversed_rows" : false
        },
        {
            "name" : "Crazystone",
            "pattern" : "crazy stone",
            "crop_left" : 27.2,
            "crop_right" : 26.7,
            "crop_top" : 9.5,
            "crop_bottom" : 10.4,
            "i_col" : false,
            "reversed_rows" : true
        }
    ],
    "keys" : {
        "endProgram" : "esc",
        "toggleCommunication" : "ctrl+k"
    },
    "use_server_coordinates" : false,
    "coordinates_use_i_col" : false,
    "coordinates_reversed_rows" : false,
    "allowed_variations_per_user" : 999,
    "reset_variation_count_timer" : 10,
    "base_variation_displaying_time": 3,
    "variation_displaying_time_per_stone": 2,
    "generate_greenscreen_image": false,
    "greenscreen_image_path": "./greenscreen/greenscreen.png",
    "greenscreen_padding_left": 0,
    "greenscreen_padding_right": 0,
    "greenscreen_padding_top": 0,
    "greenscreen_padding_bottom": 0,
    "use_sabaki" : false,
    "time_between_captures": 0.25,
    "setup_capture" : false,
    "verbose_level": 0
}